<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Angular JS intl-tel-input Example Page</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.3/css/intlTelInput.css" integrity="sha256-rTKxJIIHupH7lFo30458ner8uoSSRYciA0gttCkw1JE=" crossorigin="anonymous" />
 
  <style>
    /*
     * @see https://github.com/jackocnr/intl-tel-input#getting-started
     */
    
    .iti__flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.3/img/flags.png");}

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .iti__flag {background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.3/img/flags@2x.png");}
    }
    
    .intl-tel-input {
      display: table-cell;
    }

    .bd-example {
      padding: 1.5rem;
      border-width: .2rem;
      border: solid #e9ecef;
  }

  .highlight {
    padding: 1.5rem;
    margin-bottom: 1rem;
    background-color: #e9ecef;
    margin-right: 0;
    margin-left: 0;
}

  </style>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js" integrity="sha256-23hi0Ag650tclABdGCdMNSjxvikytyQ44vYGo9HyOrU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.3/js/intlTelInput.min.js" integrity="sha256-KzVb91DHI8+zw2KgmX30XrPMN8McZkbruSGultqpF8A=" crossorigin="anonymous"></script>

  <script src="dist/ng-intl-tel-input.js" ></script>

  <script>
    var myApp = angular.module('myApp', ['ngIntlTelInput']);  
    
    angular.module('myApp').config(function (ngIntlTelInputProvider) {
      ngIntlTelInputProvider.set({initialCountry: 'br'});
      ngIntlTelInputProvider.set({utilsScript: 'https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.3/js/utils.js'});
    });
    
  </script>

</head>
<body class="bg-light">

    <div class="container">

        <div class="row">
          <div class="col-md-12">
              <div class="py-5 text-center">
                  <h2>angularjs-ng-intel-tel-input examples</h2>
                  <p class="lead">This is a basic demonstration page showcasing the ng-intl-tel-input directive.</p>
                </div>
          </div>
        </div>

    <div class="row pb-4">

      <div class="col-md-12">
        <h4 class="mb-3">Basic usage</h4>
      </div>

      <div class="col-md-12">
        <div class="pb-3">
          <code>&lt;input type=&quot;text&quot; name=&quot;tel&quot; ng-model=&quot;tel&quot; ng-intl-tel-input&gt;</code>
        </div>
      </div>

      <div class="col-md-12">
        <div class="bd-example">
            <form name="form">
               <div class="form-group">
                  <label for="tel">Telephone number</label>
                  <div class="d-block">
                      <input type="tel" class="form-control" id="tel" name="tel" ng-model="tel" ng-intl-tel-input>
                  </div>
                  <div class="d-block">
                      <small class="help-block" ng-show="form.tel.$pristine && form.tel.$untouched">Please type a telephone number</small>
                      <small class="help-block" ng-show="form.tel.$invalid && form.tel.$touched">Invalid :(</small>
                      <small class="help-block" ng-show="form.tel.$valid">Valid :)</small>
                  </div>
              </div>
            </form>
            <div class="clearfix"></div>
        </div>
        <div class="highlight">
            Model value: <span ng-if="tel">{{tel}}</span><span ng-if="!tel">N/A</span>
        </div>
      </div>

      </div>

    <div class="row pb-4">
        <div class="col-md-12">
            <h4 class="mb-3">Setting default country with <code>data-default-country</code></h4>
          </div>
    
          <div class="col-md-12">
            <div class="pb-3">
                <code>&lt;input type=&quot;text&quot; name=&quot;tel2&quot; ng-model=&quot;tel2&quot; ng-intl-tel-input data-initial-country=&quot;us&quot;&gt;</code>
              </div>
          </div>

          <div class="col-md-12">
              <div class="bd-example">
                  <form name="form2">
                      <div class="form-group" ng-class="{'has-error': form2.tel.$invalid && form2.tel.$touched, 'has-success': form2.tel.$valid}">
                        <label for="tel2">Telephone number</label>
                        <div class="d-block">
                        <input type="tel" class="form-control" id="tel2" name="tel2" ng-model="tel2" ng-intl-tel-input data-initial-country='us'>
                      </div>
                      <div class="d-block">
                        <span class="help-block" ng-show="form2.tel.$pristine && form2.tel.$untouched">Please type a telephone number</span>
                        <span class="help-block" ng-show="form2.tel.$invalid && form2.tel.$touched">Invalid :(</span>
                        <span class="help-block" ng-show="form2.tel.$valid">Valid :)</span>
                      </div>
                      </div>
                    </form>
                </div>
                <div class="highlight">
                    Model value: <span ng-if="tel2">{{tel2}}</span><span ng-if="!tel2">N/A</span>
                </div>
          </div>
    </div>
  
  </div>
  
</body>
</html>
